/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
*/


table, th, td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
	text-align:right;
}

caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

td, th {
	padding: 4px;
}

thead th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 100% !important;
	height:18px;
}

tbody th {
	font-weight: bold;
}

tbody tr { background: #FCFDFE; }

tbody tr.odd { background: #F7F9FC; }

table a:link {
	color: #00000;
	text-decoration: none;
}

table a:visited {
	color: #00000;
	text-decoration: none;
}

table a:hover {
	color: #00000;
	text-decoration: underline !important;
}

tfoot th, tfoot td {
	font-size: 85%;
}
